.Certificate {
  border: none;
  background-color:#E5E7E9;
  padding: 25px;
  border-radius: 15px;
}

.certificate_details{
  border:none;
  text-align: justify;
  padding: 15px;
  background-color: #BDC3C7;
}

