.Home > .container-fluid >.row2 >.col-2{
  background-color: #F5B7B1;
}

.Home > .container-fluid >.row >.col-2 > .row > .Link{
  color:rgb(75, 46, 46);
  width: 100%;
}

.Home > .container-fluid >.row >.col-2 > .row > .Link:hover{
  background-color: rgb(245, 135, 108)
}

.textarea{
  width: 100%;
}

.Home > .container-fluid > .row1{
  background-color: rgb(36, 19, 14);
}

.Home > .container-fluid >.row >.col-1 >.Link{
  color:white;
}

h5{
  color:white;
}

hr{
  padding: 0%;
  margin: 0%;
}

img:hover{
  cursor: pointer;
}

.Home >.container-fluid > .row2 > .col1 > .row1{
  border-bottom: 1px solid rgba(255, 0, 0, 0.479);
}

.Home > .container-fluid > .row2 > .col1 > .row2{
  text-align: center;
  border-radius: 5px;
  margin: 1px;
  padding: 5px;
  background-color: #E5E7E9;
  box-shadow: 5px 10px 18px #888888;
}

.Home > .container-fluid > .row2 > .col1 > .row3{
  text-align: center;
  border-radius: 5px;
  margin: 1px;
  padding: 5px;
  background-color: #E5E7E9;
  box-shadow: 5px 10px 18px #888888;
}

.Home > .container-fluid > .row2 > .col1 > .row4{
  text-align: center;
  border-radius: 5px;
  margin: 1px;
  padding: 5px;
  background-color: #E5E7E9;
  box-shadow: 5px 10px 18px #888888;
}

.Home > .container-fluid > .row2 > .col1 > .row5{
  text-align: center;
  border-radius: 5px;
  margin: 1px;
  padding: 5px;
  background-color: #E5E7E9;
  box-shadow: 5px 10px 18px #888888;
}

.Select{
  width: 100%;
}

.Home > .container-fluid > .row2 > .col1 > .row2 > div > form > input[type="submit"],
.Home > .container-fluid > .row2 > .col1 > .row5 > div > button{
  border: none;
  background-color: #85929E;
  color: white;
  margin: 5px;
  margin-left: 10px;
}

.Home > .container-fluid > .row2 > .col1 > .row2 > div > form > input[type="submit"]:hover,
.Home > .container-fluid > .row2 > .col1 > .row5 > div > button:hover{
  border: rgb(0, 0, 0) solid 1px;
  border-radius: 5px;
  background-color: white;
  color: rgb(0, 0, 0);
  /* margin: 5px; */
}

.Home > .container-fluid > .row2 > .col1 > .row5 > div {
  width: 100%;
}

.Home > .container-fluid > .row2 > .col1 > .row3 > div > form > input[type="submit"]{
  border: none;
  background-color: #85929E;
  color: white;
  /* margin: 5px; */
}

.Home > .container-fluid > .row2 > .col1 > .row3 > div > form > input[type="submit"]:hover{
  border: rgb(0, 0, 0) solid 1px;
  border-radius: 5px;
  background-color: white;
  color: rgb(0, 0, 0);
  /* margin: 5px; */
}

.Home > .container-fluid > .row2 > .col1 > .row4 > div > form > input[type="submit"]{
  border: none;
  background-color: #85929E;
  color: white;
  /* margin: 5px; */
}

.Home > .container-fluid > .row2 > .col1 > .row4 > div > form > input[type="submit"]:hover{
  border: rgb(0, 0, 0) solid 1px;
  border-radius: 5px;
  background-color: white;
  color: rgb(0, 0, 0);
  /* margin: 5px; */
}

.Home{
  text-align: center;
}

.Home > .container-fluid > .row1 > .col1
{
  text-align: left;
}

.Home > .container-fluid > .row1 > .col2{
  float: right;
}

.Home > .container-fluid > .row2 > .col2 > .row5  > button{
  text-align: center;
  border-radius: 5px;
  margin-left: 35%;
  padding: 8px 15px 8px 15px;
  background-color: #A93226;
  color:white;
  border:none;
}

.Home > .container-fluid > .row2 > .col2 > .row5 > button:hover
{
  text-align: center;
  border-radius: 10px;
  margin-left: 35%;
  padding: 8px 15px 8px 15px;
  background-color: white;
  color:black;
  border:solid black 1px;
}

.Home > .container-fluid > .row2 > .col2 > .row5 {
  padding-left: 2%;
}