.Home > .App > .container-fluid >.row2 >.col-2{
    background-color: rgb(125, 234, 253);
}

.Home > .App > .container-fluid >.row >.col-2 > .row > .Link{
    color:rgb(75, 46, 46);
    width: 100%;
}

.Home > .App > .container-fluid >.row >.col-2 > .row > .Link:hover{
    background-color: rgb(245, 135, 108)
}

.Home > .App> .container-fluid > .row2 > .col2 > .row1 > form > .form-group > textarea{
    /* border: solid red 2px; */
}

.textarea{
    width: 100%;
}

.Home > .App > .container-fluid > .row1{
    background-color: rgb(36, 19, 14);
}

.Home > .App > .container-fluid >.row >.col-1 >.Link{
    color:white;
}

h5{
    color:white;
}

hr{
    padding: 0%;
    margin: 0%;
}

.Home > .App > .container-fluid > .row2 > .col3 > .row2 > button{
    /* border-bottom: rgb(92, 156, 172) 1px; */
}