.ProjectDetails {
  border: none;
  background-color:#E5E7E9;
  padding: 25px;
  border-radius: 15px;
  /* box-shadow: 5px 10px 18px #888888; */
}

@media (min-width: 1200px) {
  .modal-dialog{
      max-width: 970px;
  }
}


 .project_details{
  border:none;
  text-align: justify;
  padding: 15px;
  background-color: #BDC3C7;
} 