.Signup > .container{
  width: 30%;
  /* border: solid #273746 2px; */
  margin: 5% 15% 10% 35%;
  padding: 40px;
	text-align: center;
	background-color: #EAECEE;
	border-radius: 10px;
}

.Signup > .row{
  text-align: center;
}

.Signup > .container > form > .row >  input[type="text"],
.Signup > .container > form > .row >  input[type="password"]{
	border: none;
	text-align: center;
	background-color: #EAECEE;
	border-bottom: 1px solid rgb(255, 164, 164);

}


.Signup > #link{
	color:white;
	text-decoration: none;
}

.Signup{
	background-image: url("../image/login.jpg");
	background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0.1%;
}